@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}
h1{

}

header {
    text-align: center;
    background-color: gray;
}

menu li{
    margin: 5px;
    padding: 5px;
    display: inline-block;
    background-color: rgb(70, 70, 70);
    
}

menu a{
    text-align: left ;
    color:white;
}